@-moz-document domain(av3715.ru) {

/* General styles override */
html {
  font-family: Noto, Verdana;
  background-color: #101010;
  color: #ffffff;
}

a { color: #d0d0d0; }
a:visited { color: #a0a0a0; }

table, td { border-color: #808080; }
th, td { padding: 3px 5px; }

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='button']),
textarea {
  background-color: #151515;
  border: 1px solid #aaaaaa;
  color: #ffffff;
  padding: 3px 5px;
  -moz-appearance: none !important;
}

button, input[type="submit"], input[type="button"] {
  background-color: #606060;
  border: 1px solid #606060;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #404040;
  color: #ffffff;
  cursor: pointer;
  margin: 2px;
  padding: 3px 10px;
  -moz-appearance: none !important;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  padding: 3px 9px 3px 11px;
  background-color: #404040;
  border-color: #404040;
  box-shadow: 2px 2px 2px #606060;
  -moz-appearance: none !important;
}

button:focus, button:active, input:focus, input:active, textarea:focus, select:focus {
  border-color: #8ab4f8 !important;
  -moz-appearance: none !important;
}

select {
  background-color: #404040;
  border: 1px solid #a0a0a0;
  border-radius: 2px;
  color: #ffffff;
  padding: 3px 20px 3px 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23cccccc%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

select:hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E');
}

/* Site styles override */
.md { color: #b0b0b0 !important; }

}