@-moz-document domain(vk.com) {

/* General styles override */
body {
  background-color: #262626 !important;
  color: #ffffff !important;
}

/* Site styles override */
div.wdd, .wdd_text, #wk_box, .eltt, #top_notify_wrap,
.eltt, .page_block, .page_actions_wrap, .ms_items_more,
.profile_info_header, .profile_info_edit, .chat_onl_inner,
.im-page .im-page--top-date-bar, .im-dropbox, .box_body,
.im-page--toolsw, .im-page--history-new-bar, .im-page--header, 
.im-page .im-page--history-new-bar > span, .emoji_tt_wrap,
.ui_actions_menu, #top_profile_menu, .emoji_cat_title,
.im-page_classic.im-page .im-page--chat-body-wrap-inner,
.im-page_classic.im-page .im-page--dcontent, .media_link__label,
.im-chat-input .im-chat-input--txt-wrap, .thumbed_link__label,
.wall_module .reply_box, .wall_module .reply_form, .reply_fakebox,
.wall_module .reply_fakebox_wrap, #fc_contacts, .ts_cont_wrap,
.wall_module .page_media_thumbed_link, .cal_clear, .cal_table .day,
.deep_active .replies .reply_box_inner_wrap.fixed, .audio_pl_snippet2,
.deep_active.wall_module .replies .reply_box_inner_wrap.fixed, .wddi,
.deep_active.wall_module .wl_replies_block_wrap .reply_box_inner_wrap.fixed,
.deep_active .wl_replies_block_wrap .reply_box_inner_wrap.fixed,
.im-page .im-page--dialogs-footer.ui_grey_block, .preq_wrap,
.im-page .im-page--mess-search, .pv_cont .narrow_column,
.audio_page_layout .audio_friends_list, .selector_container,
.im-create, .im-create.im-create_classic .im-create--footer,
.photos_container .photos_row, .im-page-pinned, .im-page-pinned::after,
.pv_white_bg, .search_filters_minimized_text, div.fc_tab_txt, .fc_msgs,
#dev_search_suggest, #dev_page_wrap1, .dev_page_block, .dev_section_wrap,
.wall_module:not(.search_results) .post--with-likes:not(.post_copy):not(.post_btl):not(.post_wf):not(.post_fr_likes) .wall_text .media_link:last-child, .MessageForward__content,
#group_apps_list .group_apps_list_rows .group_apps_list_row .group_apps_edit,
.ChatSettingsInfo, .List, .ChatSettingsMembersWidget, .Button--mobile,
.groups_edit_event_log_page .groups_edit_event_log_controls,
.audio_page_layout .audio_search_wrapper {
  background-color: #101010 !important;
  border-color: #202020 !important;
}

.ChatSettings__content, .wk_hider_header,
#dev_page_cont_wrap #dev_page_cont {
  background-color: #262626 !important;
}

.mention_tt_actions, .emoji_tab_sel,
.box_title_wrap.box_grey, .top_notify_show_all,
.cal_table .next_month_day, .cal_table .prev_month_day,
.page_actions_header, .pv_author_block, .ui_tabs.ui_tabs_box,
.settings_block_footer, .box_controls, .video_choose_upload_area,
.photos_choose_upload_area, .docs_choose_upload_area, .web_cam_photo,
.video_add_external, .emoji_tabs, .emoji_tabs_l_s, .emoji_tabs_r_s,
.dev_req_result, .wk_extpage_footer_wrap, .feed_groups_hidden_list_show_btn {
  background-color: #262626 !important;
  border-color: #202020 !important;
}

.ui_tabs_header, .page_block_header, .fc_tab,
.apps_options_bar, .apps_footer, .gift_tt_show_all,
.page_status_editor .editor, .photos_choose_bottom,
.im-create .im-create--tabs, .owner_photo_additional,
.wl_post_reply_form_forbidden, .submit_post, .im-chat-input,
.feedback_row_wrap.unread:not(.feedback_row_touched),
.im-page--chat-header, .im-top-banner, .wke_controls {
  background-color: #202020 !important;
  border-color: #262626 !important;
}

.page_block, .media_voting,
.im-chat-input.im-chat-input_classic,
.im-page_classic .im-page--chat-header-in,
.im-page_classic.im-page .im-page--chat-body-abs,
.im-page_classic.im-page .im-page--dialogs-footer,
.im-page_classic.im-page .im-page--dialogs-search,
.im-create.im-create_classic .im-create--table,
#dev_page_wrap1, .dev_page_block {
  box-shadow: 0 1px 0 0 #202020, 0 0 0 1px #202020 !important;
}

.post_top_info_ads_group_members {
  box-shadow: 0 0 0 1px #202020, 0 1px 0 0 #202020 !important;
}

.ChatSettingsInfo {
  box-shadow: 0 1px 0 #202020 !important;
}

.List--border, .ChatSettingsMembersWidget, .Button--mobile {
  box-shadow: 0 1px 0 #202020, 0 -1px 0 #202020 !important;
}

.cal_table > thead, .cal_table .month,
.cal_table .month_arr, .cal_table .daysofweek,
#page_header_cont .back, .fc_tab_head, .box_title_wrap,
#dev_top_nav_wrap, .PopupHeader {
  background-color: #111e33 !important;
  border-color: #213352 !important;
}

.top_nav_btn:hover, .top_nav_btn.active,
.top_nav_link:hover, .top_nav_link.active,
.top_audio_player:hover, .top_audio_player.active,
.dev_top_link:hover, .dev_top_link.sel, #dev_top_nav a:hover {
  background-color: #31476b !important;
}

.emoji_tt_wrap.tt_down::before { border-top-color: #101010 !important; }
.emoji_tt_wrap.tt_down::after { border-top-color: #262626 !important; }

.tt_default.tt_down::before,
.ms_items_more_wrap.to_up .ms_items_more::before,
.ui_actions_menu_top .ui_actions_menu::before {
  border-top-color: #202020 !important;
}

.tt_default.tt_down::after,
.ms_items_more_wrap.to_up .ms_items_more::after,
.ui_actions_menu_top .ui_actions_menu::after {
  border-top-color: #101010 !important;
}

.ui_actions_menu::before,
#top_profile_menu::before, #top_notify_wrap::before {
  border-bottom-color: #262626 !important;
}

.ui_actions_menu::after,
#top_profile_menu::after, #top_notify_wrap::after {
  border-bottom-color: #101010 !important;
}

.eltt.eltt_bottom.eltt_arrow_size_normal > .eltt_arrow_back {
  border-bottom-color: #202020 !important;
}

.eltt.eltt_bottom.eltt_arrow_size_normal > .eltt_arrow_back .eltt_arrow {
  border-bottom-color: #101010 !important;
}

.eltt.eltt_top.eltt_arrow_size_normal > .eltt_arrow_back {
  border-top-color: #202020 !important;
}

.eltt.eltt_top.eltt_arrow_size_normal > .eltt_arrow_back .eltt_arrow {
  border-top-color: #101010 !important;
}

.profile_msg_split .profile_btn_cut_left {
  border-right-color: #909090 !important;
}

.wall_module .copy_quote, .im-mess .im-mess--post, .im_fwd_log_wrap {
  border-left-color: #808079 !important;
}

.im-replied::before {
  background-color: #808080 !important;
}

.post_top_info_ads_group_members, .module, .post_actions_btns,
.pv_author_block, .pv_comments, .group_list_row, .friends_user_row,
.nim-dialog .nim-dialog--content, .feedback_row, .feedback_sticky_row,
.ui_search_new .ui_search_button_search, .ui_search_new .ui_search_input_inner,
.audio_layer_container .audio_page__footer, .im-page .im-page--dialogs-footer,
.im-page--dialogs-search.ui_search, .im-page_classic .im-page--chat-header,
.im-page_classic.im-page .im-page--header, .top_notify_cont .top_notify_header,
.im-page_classic.im-page .im-page--chat-header, .wk_hider_box, .wk_hider_box_opened,
.im-page_classic.im-page .im-page--chat-input, .audio_pl_snippet2 .audio_pl_snippet__header,
.im-chat-input.im-chat-input_classic, .cal_table > tbody, .composer_wdd .wdd_list, .wdd_list,
.ChatSettingsMembersWidget--search .ChatSettingsMembersWidget__header,
.deep_active.wl_post.wall_module .wl_replies_block_wrap .wl_replies_empty,
.feedback_row_clickable:not(.feedback_row_touched):hover, .friends_cur_filters,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_classic.nim-dialog_unread,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog.nim-dialog_hovered,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog:hover,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered + .im-search-results-head,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_hovered + .nim-dialog,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected + .im-search-results-head,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_selected + .nim-dialog,
.nim-dialog:not(.nim-dialog_deleted):hover + .im-search-results-head,
.nim-dialog:not(.nim-dialog_deleted):hover + .nim-dialog,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic + .nim-dialog,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic + .im-search-results-head, .olist_item_wrap, .dev_method_req_table {
  border-color: #262626 !important;
}

#ads_left.ads_left_empty + .left_menu_nav_wrap, .friends_list_bl,
hr, .group_box_list .sort_helper, .group_box_row, .docs_item,
.box_body .ui_search_new input.ui_search_field, .ts_search_sep,
.page_actions_inner, .page_actions_separator, .wk_table, .wk_table td,
.page_block #all_shown, .wall_module .replies_list, .ui_tabs,
.feed_updates .wall_module .feed_row .post, .counts_module,
.ui_rmenu_sep, .ui_actions_menu_sep, .wide_column .page_top,
.more_div, .like_cont, .top_profile_sep, .profile_info_block,
.settings_privacy_row, .settings_line, .settings_bl_row,
.settings_apps .apps_settings_row_wrap, .settings_block_msg,
.settings_table_row, .pedit_separator, .deep_active .post_replies_header,
.deep_active.wall_module .post_replies_header, .audio_feed_post,
.deep_active .replies .reply .reply_wrap, .flat_button.ui_load_more_btn,
.deep_active.wall_module .replies .reply .reply_wrap, #fc_ctabs_cont,
.deep_active.wall_module .wl_replies_block_wrap .reply .reply_wrap,
.deep_active .wl_replies_block_wrap .reply .reply_wrap, .audio_subscribe_promo,
.audio_page_layout .has_friends_block .audio_page__rows_wrap, .bp_post, .bt_header,
.wall_module .reply ~ .reply .dld, .wall_module .reply ~ .reply .reply_wrap,
.wide_column .topics_module .topic_row, .search_row, .search_sep,
.deep_active .replies .replies_wrap_deep .reply_media_preview,
.dev_version, .deep_active .replies .replies_wrap_deep,
.deep_active.wall_module .replies .replies_wrap_deep, .Tabs,
.deep_active.wall_module .wl_replies_block_wrap .replies_wrap_deep,
.deep_active .wl_replies_block_wrap .replies_wrap_deep, .dev_param_row,
.dev_method_block .dev_method_block_title, .gifts_section_row,
.groups_edit_event_log_page .groups_edit_event_log_items_wrap,
.groups_edit_event_log_page .groups_edit_event_log_items_wrap .groups_edit_event_log_item,
.groups_edit_event_log_page .groups_edit_event_log_items_wrap .groups_edit_event_log_item_wrap,
.groups_edit_event_log_page .groups_edit_event_log_items_wrap .groups_edit_event_log_item:last-child {
  border-color: #404040 !important;
}

.ListItem--border::before,
.settings_separated_row + .settings_separated_row::after {
  background-color: #404040 !important; 
}

.dev_const_params {
  background-color: #404040 !important;
  border-color: #262626 !important;
}

div[contenteditable="true"],
input.big_text, input.dark, input.search,
input.BlockSearchInput, input.text, textarea, .fakeinput,
div.fc_clist_filter_wrap,
.ui_search, .ui_search_fltr,
.tt_default, .tt_default_right,
.media_voting, .result_list ul {
  background-color: #101010 !important;
  border-color: #262626 !important;
  color: #ffffff !important;
}

input.ts_input.text, input.dev_top_input.text {
  border-color: #101010 !important;
}

input.ui_search_field, input.selector_input, ul.listing li span,
.box_title, .apps_options_bar .apps_options_bar_left .app_summary_name,
.page_media_event .page_media_event_name, .feedback_header,
.feed_update_row .post_author, .eltt .eltt_fancy_action,
.im-search-results-head, .app_widget_list_title, .explain,
._im_dialog_link, .page_actions_dd_label, .right_list_header,
.im-page--title-main-inner, .no_posts--cta, .media_voting_question,
.im-replied--text, .media_link__title, .ui_crumb, .page_block_header,
.page_name, .header_label, .ui_tab_sel, .ui_tab_plain, .result_list ul li,
.wall_module a.wall_reply_greeting, .im-chat-input .im-chat-input--text *,
.notify_sources_tt_content .line_cell .info:not(.group_notify_add_source_button),
.top_notify_header, .top_notify_cont .feedback_header, .cal_table,  .top_notify_cont,
.ads_ad_description, .ads_ad_snippet_description_title, .top_notify_cont .feedback_header,
.im-fwd.im-fwd_msg .im-fwd--messages, #group_section_menu .module_body .ui_gallery .ui_gallery_item .groups_menu_item .groups_menu_item_title, .wall_reasons_list, .Tabs__item--active > *,
.audio_pl_item2 .audio_pl__subtitle > a, .audio_page__shuffle_all .audio_page__shuffle_all_button,
.module_header .header_top, .ui_search_fltr b, .media_voting_option_percent, .page_block_sub_header,
.ui_tabs_box .ui_tab_sel .ui_tab_count, .owner_photo_additional, 
.audio_pl_snippet2 .audio_shuffle_all_button,
#dev_page_wrap1, .dev_page_block, .dev_methods_list_desc,
.dev_result_bracket, .dev_result_key, .dev_page_cont .wk_header,
.dev_page_cont .wk_sub_header, .dev_page_cont .wk_sub_sub_header,
.ownerButton_lovina_valentine .ownerButton__upperTitle {
  color: #ffffff !important;
}

a, .ui_rmenu_item, .ui_actions_menu_item, .olist_item_name,
.im-mess-stack .im-mess-stack--content .im-mess-stack--pname > a,
.im-mess-stack .im-mess-stack--content .im-mess-stack--pname, .wddi_text,
.audio_row .audio_row__performers a, .im-replied--author-link, .wk_hider_title,
.Entity__title, .web_cam_photo, .video_add_external, .post_action_btn.on {
  color: #758fb9 !important;
}

.flat_button,
.ui_search_new.ui_search_field_empty .ui_search_button_search {
  background-color: #505050 !important;
}

.flat_button.secondary {
  background-color: #707070 !important;
  color: #ffffff !important;
}

.im-page_classic .im-page--chat-header {
  border-bottom-color: #808080 !important;
}

.im-mess_unread, .im-mess_selected,
.im-mess_unread:last-child::before,
.im-mess_selected:last-child::before, .wddi_over,
.im-mess_unread::before, .im-mess_selected::before,
.im-mess.im-mess_selected + .im-mess::before,
.im-mess.im-mess_unread + .im-mess::before {
  background-color: #354156 !important;
  border-bottom-color: #354156 !important;
}

body.dev .wk_text blockquote, .wall_module .replies_side,
.box_msg, .box_msg_gray, .msg, .media_voting_option_bar, .wk_text blockquote,
.im-to-end__button, .emoji_smile_cont:hover, .stories_feed_preview_add,
.wall_module .like_tt_bottom_page_friend_reply, .olist_item_wrap:hover,
.nim-dialog_classic:hover, .chat_tab_wrap:hover, a.fc_contact_over,
.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic,
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--inner-text,
.im-mess.im-mess_light, .dev_methods_list_row:hover, .ListItem--active,
.ListItem--can-be-hovered.ListItem--selectable:hover, .Button--mobile:hover,
.audio_page__shuffle_all .audio_page__shuffle_all_button:hover,
.groups_edit_event_log_page .groups_edit_event_log_items_wrap .groups_edit_event_log_item_wrap:hover > .groups_edit_event_log_item_main, .groups_edit_event_log_page .groups_edit_event_log_items_wrap .groups_edit_event_log_item_wrap_focused, .ui_tooltipMenu__link:hover {
  background-color: rgba(138, 180, 248, 0.2) !important;
  border-color: #262626 !important;
}

.feed_groups_hidden_list_show_btn:hover,
.audio_layer_container .audio_friend:hover,
.ui_rmenu_item:hover, .ui_rmenu_subitem:hover,
.notify_sources_tt_content .line_cell:hover,
.notify_sources_tt_content .line_cell.selected,
.mv_chat_admin_message .mv_chat_message_author_name,
.feedback_row_clickable:not(.feedback_row_touched):hover,
.eltt_fancy_action:hover, .im-mess.im-mess_search:hover,
.my_current_info:hover, .ms_item:hover, .left_row:hover,
.top_profile_mrow:hover, .ui_actions_menu_item:hover,
.page_actions_item:hover, .profile_more_info_link:hover,
.ui_rmenu_item_sel, .fc_contact:hover, .audio-msg-track:hover,
.nim-conversation-search-row:hover, .Post__copyrightButton:hover,
.media_voting_option, .audio_row.audio_row__current .audio_row_content,
.audio_row:hover:not(.audio_row__current) .audio_row_content,
.result_list ul li.active, .result_list ul li:hover, .fc_clist_hl,
a.ts_contact.active, a.ts_search_link.active, .links-list__item:hover,
.pv_cont .pv_can_edit:hover, .im-create .im-creation--item:hover,
.im-create .im-creation--item.im-creation--item_hovered, .dev_search_row em,
.dev_sugg_sel, .EditableLabel:hover .EditableLabel__text, .search_focused .highlight {
  background-color: rgba(138, 180, 248, 0.2) !important;
  color: #ffffff !important;
}

#side_bar ol li .left_row {
  color: #6c89b8 !important;
}

.left_count_wrap {
  background-color: rgba(138, 180, 248, 0.2) !important;
  color: #d0d0d0 !important;
}

.group_friends_image, .post_top_info_ads_group_members_friend_image,
.page_media_event .page_media_event_cover::before, .online::after, .Avatar--online::after,
.page_media_event .page_media_event_bottom .page_media_event_friend_photo {
  border-color: #101010 !important;
}

.online.mobile::after, .Avatar--online.Avatar--mobile::after {
  background-color: #101010 !important;
}

.im-page .im-page--history-new-bar::after,
.im-page .im-page--history-new-bar::before,
.photo_upload_separator, .video_choose_upload_separator {
  background-color: #909090 !important;
}

.poster__open-btn-wrapper,
#submit_post_box:not(.shown):not(.own_field) .poster__open-btn-wrapper {
  border-color: #909090 !important;
}

.ui_gallery_wall_cards .wall_card__title_link, 
.post_author_data .post_author_data_title, .post_date,
.wall_module .published_by_date, .wall_module .wall_post_source,
.post_date .post_link, .post_date .wall_text_name_explain_promoted_post,
.mention_tt_extra, .mention_tt_extra a, .media_voting_option_text,
.subheader, h4.subheader, .flat_button.secondary_dark, .wddi_over .wddi_sub,
a.bp_date, .wall_module .reply_to, .wall_module .wd_lnk, .wddi_sub,
.im-mess--lbl-was-edited, .friends_field .group_link, .friends_field,
.im-mess-stack .im-mess-stack--content .im-mess-stack--tools,
.im-mess-stack .im-mess-stack--content .im-mess-stack--tools a,
.audio_page_layout .audio_item__title, .audio_page_layout .audio_item__title > a,
.im-chat-input--editing-head, .nim-dialog .nim-dialog--preview, .ui_search_fltr_label,
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--inner-text,
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out.nim-dialog_muted .nim-dialog--inner-text, .dev_const_param_name, .wk_gray, ul.listing li span .wk_gray, .gift_tt_header,
.ChatSettingsInfo__meta, .ui_rmenu_subitem, .media_voting_option_count {
  color: #909090 !important;
}

.ChatSettingsInfo__title, .media_voting_option_text, .feedback_header b {
  color: #d0d0d0 !important;
}

.im-page--back:hover {
  background: linear-gradient(90deg, rgba(138, 180, 248, 0.3), rgba(0, 0, 0, 0)), url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%229%22%20height%3D%2216%22%20viewBox%3D%220%200%209%2016%22%3E%3Cpath%20fill%3D%22%23828A99%22%20d%3D%22M8%2015.9c-.2%200-.4-.1-.6-.3l-7-7c-.3-.3-.3-.9%200-1.2l7-7c.3-.3.9-.3%201.2%200%20.3.3.3.9%200%201.2l-6.4%206.4%206.4%206.4c.3.3.3.9%200%201.2-.2.2-.4.3-.6.3z%22%20opacity%3D%22.7%22%2F%3E%3C%2Fsvg%3E') 15px 16px no-repeat;
}

.im-page--back-btn:hover,
.top_notify_cont .feedback_row:not(.dld).hover,
.top_notify_cont .feedback_row:not(.dld):hover {
  background: rgba(0, 0, 0, 0) !important;
}

.media_voting_option_bar {
  background-color: rgba(138, 180, 248, 0.2) !important;
}

.dev_result_num {
  color: #8383ec !important;
}

.dev_result_str, .dev_result_str a {
  color: #50b955 !important;
}

.emoji_sprite, .emoji_cats_title_helper:after,
.ui_scroll_default_theme.ui_scroll_emoji_theme > .ui_scroll_overflow > .ui_scroll_shadow_bottom,
.ui_scroll_default_theme.ui_scroll_emoji_theme > .ui_scroll_overflow > .ui_scroll_shadow_top {
  background-image:url('./vk/img/emoji_sprite.png') !important;
}

.im-mess-stack--mess .im-mess.im-mess_gift {
  background-color: #262000 !important;
}

}