@-moz-document domain(vk.com) {

/* Site styles override */
:root {
  --azure_a100: #083466 !important;
  --black: #f0f0f8 !important;
  --black_alpha4: rgba(255, 255, 255, 0.04);
  --black_alpha8: rgba(255, 255, 255, 0.08);
  --black_alpha12: rgba(255, 255, 255, 0.12);
  --black_alpha16: rgba(255, 255, 255, 0.16);
  --black_alpha24: rgba(255, 255, 255, 0.24);
  --black_alpha36: rgba(255, 255, 255, 0.36);
  --black_alpha40: rgba(255, 255, 255, 0.40);
  --black_alpha48: rgba(255, 255, 255, 0.48);
  --black_alpha56: rgba(255, 255, 255, 0.56);
  --black_alpha72: rgba(255, 255, 255, 0.72);
  --black_alpha88: rgba(255, 255, 255, 0.88);
  --black_blue10: #cce4ff !important;
  --black_blue24: #add3ff !important;
  --black_blue24_alpha8: rgba(173, 211, 255, 0.08) !important;
  --black_blue24_alpha24: rgba(173, 211, 255, 0.24) !important;
  --black_blue30_alpha66: rgba(179, 214, 255, 0.66) !important;
  --black_blue45_alpha10: rgba(138, 196, 255, 0.10) !important;
  --blue_400: #213e60 !important;
  --blue_400_alpha20: rgba(30, 71, 117, 0.20) !important;
  --blue_400_alpha48: rgba(30, 71, 117, 0.49) !important;
  --blue_420: #5884b6 !important;
  --blue_600: #9ab7db !important;
  --blue_640: #7ba8d5 !important;
  --blue_800: #1d3a5c;
  --blue_980_alpha12: rgba(0, 20, 51, 0.12);
  --blue_bright: #5c9ce6;
  --brown_gold: #9e8f72;
  --brown_light: #c2b79f;
  --gold_200: #f4e7c3;
  --gold_250: #e3d3ac;
  --gold_300: #d1c097;
  --gold_400: #ab9871;
  --gold_500: #857250;
  --gray_20: #101010 !important;
  --gray_40: #151515 !important;
  --gray_70: #555555;
  --gray_100: #242628 !important;
  --gray_100_alpha60: rgba(30, 32, 35, 0.60) !important;
  --gray_200: #4d4d4d !important;
  --gray_300: #8c8c8c !important;
  --gray_400: #7d7d7d !important;
  --gray_500: #9a9a9a !important;
  --gray_600: #aaaaaa !important;
  --gray_700: #bdbdbd !important;
  --gray_700_alpha60: rgba(200, 200, 200, 0.60) !important;
  --gray_750: #cccccc !important;
  --gray_800: #d6d6d6 !important;
  --gray_800_alpha72: rgba(220, 220, 220, 0.72) !important;
  --gray_800_alpha88: rgba(220, 220, 220, 0.88) !important;
  --gray_850: #dddddd !important;
  --gray_900: #e8e8e8 !important;
  --gray_900_alpha16: rgba(250, 250, 250, 0.16) !important;
  --gray_900_alpha72: rgba(250, 250, 250, 0.72) !important;
  --gray_900_alpha88: rgba(250, 250, 250, 0.88) !important;
  --gray_960: #f0f0f0 !important;
  --green_alpha16: rgba(75, 179, 75, 0.16);
  --green_350: #4bb34b;
  --green_400: #43a843;
  --green_600: #1b7a1b;
  --green_light: #def0d3;
  --green_nice: #3dcc4b;
  --light_blue_40: #1a273b !important;
  --light_blue_40_alpha72: rgba(26, 39, 59, 0.72) !important;
  --light_blue_80: #27374f !important;
  --light_blue_100: #304159 !important;
  --light_blue_300: #3a4c66 !important;
  --light_blue_400: #4b5e7a !important;
  --light_blue_500: #5b6e8a !important;
  --light_blue_700: #7295bb !important;
  --light_blue_A300: #385671 !important;
  --orange: #ffa000;
  --orange_fire: #f05c44;
  --orange_prominent: #ff724c;
  --purple: #735ce6;
  --purple_light: #937ff5;
  --red: #e64646;
  --red_alpha16: rgba(230, 70, 70, 0.16);
  --red_alpha12: rgba(230, 70, 70, 0.12);
  --red_dark: #db3b3b;
  --red_light: #ffd6cc;
  --red_nice: #f5959e !important;
  --sky_60: #001d33 !important;
  --sky_80: #002b4d !important;
  --sky_100: #003a66 !important;
  --sky_200: #00518f !important;
  --sky_300: #144e8f !important;
  --steel_gray_10: #181c26 !important;
  --steel_gray_20: #060709 !important;
  --steel_gray_40: #28313d !important;
  --steel_gray_60: #202632 !important;
  --steel_gray_80: #4b4f60 !important;
  --steel_gray_100: #272f36 !important;
  --steel_gray_120: #2e353b !important;
  --steel_gray_140: #2f3d4a !important;
  --steel_gray_200: #3d4651 !important;
  --steel_gray_200_alpha12: rgba(161, 170, 181, 0.12) !important;
  --steel_gray_200_alpha16: rgba(161, 170, 181, 0.16) !important;
  --steel_gray_300: #525b66 !important;
  --steel_gray_400: #66717f !important;
  --steel_gray_500: #7a8390 !important;
  --steel_gray_540: #a2aab4 !important;
  --steel_gray_600: #9aa5b1 !important;
  --steel_gray_A540: #8394aa !important;
  --steel_gray_A540_alpha64: rgba(131, 148, 170, 0.64) !important;
  --transparent_black: rgba(255, 255, 255, 0.00) !important;
  --transparent_white: rgba(0, 0, 0, 0.00) !important;
  --turquoise: #287475 !important;
  --violet: #391759 !important;
  --violet_dark: #9687c4 !important;
  --violet_light: #120d2b !important;
  --violet_muted: #9fa2bf !important;
  --white: #0f1118 !important;
  --white_alpha72: rgba(0, 0, 0, 0.72);
  --white_alpha64: rgba(0, 0, 0, 0.64);
  --white_alpha48: rgba(0, 0, 0, 0.48);
  --white_alpha40: rgba(0, 0, 0, 0.40);
  --white_alpha24: rgba(0, 0, 0, 0.24);
  --white_alpha16: rgba(0, 0, 0, 0.16);
  --white_alpha12: rgba(0, 0, 0, 0.12);
  --white_alpha8: rgba(0, 0, 0, 0.08);
  --white_alpha4: rgba(0, 0, 0, 0.04);
  --white_blue20: #000c1a !important;
  --white_blue32: #001c3d !important;
  --yellow: #a17300 !important;
  --yellow_light: #4a3c17 !important;
  --lavender_100: #00031a !important;
  --lavender_200: #000733 !important;
  --lavender_300: #000b52 !important;
  --lavender_700: #4c57a4 !important;
  --lavender_800: #7e87be !important;
  --lavender_900: #b0b6d8 !important;

  --button-text-color: var(--black) !important;
  --counter_primary_text: var(--black) !important;
  --accent: var(--blue_bright) !important;
}

[dir] .TopHomeLink--logoWithText {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2224%22%20width%3D%22136%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2011.5c0-5.42%200-8.13%201.68-9.82C3.37%200%206.08%200%2011.5%200h1c5.42%200%208.13%200%209.82%201.68C24%203.37%2024%206.08%2024%2011.5v1c0%205.42%200%208.13-1.68%209.82C20.63%2024%2017.92%2024%2012.5%2024h-1c-5.42%200-8.13%200-9.82-1.68C0%2020.63%200%2017.92%200%2012.5z%22%20fill%3D%22%232787f5%22%2F%3E%3Cg%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M6.5%207.5H4.75c-.5%200-.6.24-.6.5%200%20.46.6%202.76%202.76%205.8%201.45%202.07%203.49%203.2%205.34%203.2%201.11%200%201.25-.25%201.25-.68v-1.57c0-.5.1-.6.46-.6.26%200%20.7.13%201.74%201.13%201.19%201.19%201.38%201.72%202.05%201.72h1.75c.5%200%20.75-.25.6-.74-.15-.5-.72-1.2-1.47-2.05-.4-.49-1.02-1-1.2-1.26-.26-.34-.2-.49%200-.78%200%200%202.13-3%202.35-4.03.11-.37%200-.64-.53-.64H17.5a.76.76%200%2000-.76.5s-.9%202.16-2.15%203.57c-.41.41-.6.54-.82.54-.1%200-.27-.13-.27-.5V8.14c0-.44-.13-.64-.5-.64h-2.75c-.28%200-.45.2-.45.4%200%20.42.64.52.7%201.7v2.58c0%20.57-.1.67-.32.67-.6%200-2.04-2.18-2.9-4.67-.16-.48-.33-.68-.78-.68z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M66.86%2012.5c0%203.24-2.43%205.5-5.78%205.5s-5.78-2.26-5.78-5.5S57.73%207%2061.08%207s5.78%202.26%205.78%205.5zm-8.97%200c0%201.97%201.3%203.3%203.19%203.3s3.19-1.33%203.19-3.3c0-1.98-1.3-3.25-3.19-3.25s-3.19%201.28-3.19%203.25zm-17.14-.21c.95-.44%201.56-1.18%201.56-2.33%200-1.73-1.58-2.96-3.87-2.96h-5.27v11h5.5c2.37%200%204.02-1.29%204.02-3.05%200-1.33-.87-2.32-1.94-2.66zM35.6%209.01h2.83c.85%200%201.44.5%201.44%201.2s-.6%201.2-1.44%201.2h-2.83zM38.67%2016h-3.06V13.3h3.06c.96%200%201.59.55%201.59%201.36s-.63%201.33-1.59%201.33zM51.84%2018h3.19l-5.06-5.71L54.61%207h-2.9l-3.68%204.27h-.6V7H45v11h2.44v-4.38h.59zM76.47%207v4.34h-4.93V7H69.1v11h2.43v-4.44h4.93V18h2.43V7zM86.9%2018h-2.44V9.22h-3.8V7H90.7v2.22h-3.8zm9.5-11c-2.11%200-3.91.89-4.52%202.8l2.24.37c.34-.67%201.05-1.2%202.15-1.2%201.33%200%202.06.84%202.17%202.28h-2.32c-3.23%200-4.79%201.42-4.79%203.45%200%202.05%201.59%203.3%203.78%203.3%201.8%200%203-.72%203.53-1.63l.5%201.63h1.76v-6.18c0-3.19-1.74-4.82-4.5-4.82zm-.72%209c-1.19%200-1.9-.5-1.9-1.4%200-.85.57-1.44%202.43-1.44h2.35c0%201.8-1.19%202.84-2.88%202.84zm17.99%202h-3.2l-3.8-4.38h-.6V18h-2.43V7h2.43v4.27h.6L110.34%207h2.9l-4.63%205.29zm3.88%200h2.43V9.22h3.8V7h-10.04v2.22h3.8zM130.1%207c3.34%200%205.56%202.4%205.56%205.37%200%20.3-.02.55-.04.79h-8.54c.23%201.69%201.36%202.69%203.17%202.69%201.29%200%202.15-.4%202.68-1.2l2.29.39c-.88%202.01-2.83%202.96-5.12%202.96a5.28%205.28%200%2001-5.51-5.5c0-3.12%202.17-5.5%205.51-5.5zm2.92%204.25c-.4-1.37-1.4-2.15-2.92-2.15-1.48%200-2.47.74-2.87%202.15z%22%20fill%3D%22%23d0d0d0%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E) !important;
}

[dir] .flat_button.ui_load_more_btn, [dir] .stories_feed_preview_add,
[dir] .audio_page_player2.audio_page_player_fixed, [dir] .pv_cont .narrow_column,
[dir] .online.mobile::after, [dir] .eltt, [dir] .audio_page_layout .audio_friends_list,
[dir] .im-page .im-page--top-date-bar.im-page--date-bar-transition.im-page--date-bar-transition-inverse {
  background-color: var(--white) !important;
}

.cal_table .day.sel, .cal_table .day.sel:hover, .cal_month_sel,
.Button--primary, .box_title, .im-chat-input .im-chat-input--text *,
.mv_min_title, .eltt.feature_intro_blue_tt, .notifier_baloon, [dir] .notifier_baloon,
.videoplayer_settings_menu_list_item, .videoplayer_settings_menu_sublist_item,
.videoplayer_context_menu ._item:hover, .tt_black .tt_text, .videoplayer_tooltip ._text {
  color: var(--black) !important;
}

.notifier_baloon_wrap a, .notifier_baloon_msg span.mem_link,
.notifier_baloon_msg span.group_link, .slider_hint,
.audio_page_player2 .slider_hint.audio_player_hint {
  color: var(--blue_600) !important;
}

[dir] .online::after, [dir] .photos_container .photos_row {
  border-color: var(--white) !important;
}

.settings_menu_rows .olist_item_menu .olist_item_photo,
.LeftMenu__icon {
  color: var(--blue_640);
}

[dir] .fc_msgs_out .fc_msgs {
  background-color: #131f2b !important;
}

[dir] .im-navigation--to-end .im-navigation__button,
[dir] .im-navigation--to-mention .im-navigation__button,
[dir] .MusicAuthor_attach_preview, [dir] .MusicAuthorSnippet {
  background-color: var(--steel_gray_60) !important;
}

.tt_w.like_tt, .tt_w.voting_tt, .owner_photo_bubble,
body.new_header_design .left_count_wrap {
  color: var(--black) !important;
}

[dir] #pv_box {
  background-color: var(--steel_gray_100) !important;
}

.pv_cont .pv_bottom_actions > a, .pv_cont .pv_bottom_actions > span,
.pv_cont .pv_bottom_actions > .pv_actions_more {
  color: var(--gray_800) !important;
}

}